<div class="well">
    <form class="form-signin form-horizontal" role="form">  
        <h1 align='center'>Authentification</h1>
        <div class="form-group">
            <label class="col-md-3 control-label">Login : </label>
            <div class="col-md-3">
                <input type="text" ng-model="connectionCtrl.login" class="form-control" placeholder="Saisir votre identifiant" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Mot de passe : </label>
            <div class="col-md-3">
                <input type="password" ng-model="connectionCtrl.pwd"  class="form-control" placeholder="Saisir votre mot de passe" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-3">
                <button type="submit" class="btn btn-default btn-primary" ng-click="connectionCtrl.signIn(connectionCtrl.login, connectionCtrl.pwd)"><span class="glyphicon glyphicon-log-in"></span> Valider</button>
                <a class="btn btn-primary" href="#" >Créer un compte</a>
            </div>
        </div>
        <div class="form-group" >
            <div class="col-sm-6 col-sm-offset-3" ng-show="connectionCtrl.error" >
                <div class="alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{connectionCtrl.error}}
                </div>
            </div>
        </div>
    </form>
</div>