<div  class="col-md-8 col-md-offset-1">
    <h1 align='center'>{{oeuvreCtrl.pageTitle}}</h1>
    <form class="form-signin form-horizontal" role="form" method="post" name="oeuvreForm">
        <div class="form-group">
            <label class="col-md-3 control-label">Titre : </label>
            <div class="col-md-6">
                <input type="text" name="txtTitre" ng-model="oeuvreCtrl.oeuvre.titre" class="form-control" placeholder="Titre de l'oeuvre" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Prix : </label>
            <div class="col-md-3">
                <input type="text" name="txtPrix" ng-model="oeuvreCtrl.oeuvre.prix" class="form-control" placeholder="Prix de l'oeuvre" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Proprietaire : </label>
            <div class="col-sm-6 col-md-3">
                <select class='form-control' name='proprietaires' required
                    ng-options="option.prenom_proprietaire + ' ' + option.nom_proprietaire for option in oeuvreCtrl.proprietaires track by option.id_proprietaire"
                    ng-model="oeuvreCtrl.selectedOptionProprietaire">
                        <option value=''>Sélectionner un propriétaire</option>
                </select>
            </div>
        </div>             
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" ng-click="oeuvreCtrl.validateOeuvre(oeuvreCtrl.oeuvre.id_oeuvre, oeuvreForm)" class="btn btn-default btn-primary">
                    <span class="glyphicon glyphicon-log-in"></span> Valider</button>
                <button type="button" class="btn btn-default btn-primary" ng-click="oeuvreCtrl.cancel()">
                    <span class="glyphicon glyphicon-remove"></span> Annuler</button>
            </div>
        </div>
        <div class="form-group" >
            <div class="col-sm-6 col-sm-offset-3" ng-show="oeuvreCtrl.error" >
                <div class="alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{oeuvreCtrl.error}}
                </div>
            </div>
        </div>
    </form>
</div>