<div  class="col-md-8 col-md-offset-1">
    <h1 align='center'>Réservation d'une oeuvre</h1>
    <form class="form-horizontal" role="form" name="reservationForm">
        <div class="form-group">
            <label class="col-md-3 control-label">Titre : </label>
            <label class="col-md-6 form-control-static">{{reservationCtrl.oeuvre.titre}}</label>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Prix : </label>
            <label class="col-md-6 form-control-static">{{reservationCtrl.oeuvre.prix}}</label>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Date réservation : </label>
            <div class="col-md-3">
                 <p class="input-group">
                    <input type="text" class="form-control" is-open="reservationCtrl.datePickerOpened" datepicker-popup="shortDate" 
                           ng-model="reservationCtrl.reservation.date_reservation" ng-required="true"  name="date_reservation" close-text="Close" />                 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="reservationCtrl.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>   
                </p>
            </div>
        </div>            
        <div class="form-group">
            <label class="col-md-3 control-label">Adhérent : </label>
            <div class="col-sm-6 col-md-3">
                <select class='form-control' name='adherents' required ng-model="reservationCtrl.selectedOptionAdherent"
                        ng-options="option.prenom_adherent + ' ' + option.nom_adherent for option in reservationCtrl.adherents track by option.id_adherent">
                        <option value=''>Sélectionner un adhérent</option>
                </select>
            </div>
        </div>             
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default btn-primary" ng-click="reservationCtrl.ajouterReservation(reservationCtrl.oeuvre.id_oeuvre, reservationForm)">
                    <span class="glyphicon glyphicon-log-in"></span> Valider</button>
            </div>
        </div>
    </form>     
</div>